.categories {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .categories button {
    padding: 8px 16px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #00c385;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .categories button.selected {
    background-color: #fff;
    color: #00c385;
  }
  